<launch>
    <!-- Declare arguments with default values -->
    <arg name="robot_name" default="jetbot_gazebo"/>
    <arg name="model" default="burger"/>
    <arg name="x_pos" default="-0.3"/>
    <arg name="y_pos" default="-2.65"/>
    <arg name="z_pos" default="0.0"/>

    <!-- Set environment variable for GAZEBO_MODEL_PATH -->
    <env name="GAZEBO_MODEL_PATH" value="$(find jetbot_gazebo)/models"/>

    <!-- Include Gazebo launch with world file and plugins -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find jetbot_gazebo)/world/dirt_path_curves.world"/>
        <arg name="verbose" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- Node to spawn the SDF model in Gazebo -->
    <node name="$(arg robot_name)_spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-sdf -file $(find jetbot_gazebo)/models/simple_diff_ros/model.sdf -model $(arg robot_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)">
    </node>
</launch>
